<nav class="breadcrumbs" aria-label="Breadcrumbs">
    <ol class="breadcrumb-list">
        <% breadcrumbs.forEach(function(crumb, index) { %>
            <li class="breadcrumb-item <%= index === breadcrumbs.length - 1 ? 'active' : '' %>">
                <% if (index === breadcrumbs.length - 1) { %>
                    <span class="breadcrumb-text"><%= crumb.title %></span>
                <% } else { %>
                    <a href="<%= crumb.url %>" class="breadcrumb-link">
                        <% if (crumb.icon) { %>
                            <i class="<%= crumb.icon %> breadcrumb-icon"></i>
                        <% } %>
                        <%= crumb.title %>
                    </a>
                    <i class="fas fa-chevron-right breadcrumb-separator"></i>
                <% } %>
            </li>
        <% }); %>
    </ol>
</nav>